{% extends "base.html" %} {% load bootstrap3 %} {% load staticfiles %} {% block title %}Online Game Store{% endblock %}
{% block header %} {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio-item.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <style type="text/css">
        .modal-backdrop {
            z-index: 0 !important;
        }
    </style>
    <script>
        $(document).ready(function (e) {
            $('.search-panel .dropdown-menu').find('a').click(function (e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var concept = $(this).text();
                console.log(concept)
                $('.search-panel span#search_concept').text(concept);
                $('.input-group #search_param').val(param);

            });
            $('#search_store').click(function (e) {
                var param = $('#search_box').val();
                var concept = $('.search-panel span#search_concept').text();
                location.href = "/store/?concept=" + concept + "&param=" + param;
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">All</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="search_term">
                            <li><a href="#contains">All</a></li>
                            {% for category in games_category %}
                                <li><a href="#contains">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="x" placeholder="Search term..." id="search_box">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="search_store"><span
                            class="glyphicon glyphicon-search"></span></button>
                </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover" data-toggle="table">
                <thead>
                <tr>
                    <th data-field="logo">Logo</th>
                    <th data-field="name">Name</th>
                    <th data-field="description">Description</th>
                    <th data-field="category">Category</th>
                    <th data-field="cost">cost</th>
                    <th data-field="cart">Add to Cart</th>
                </tr>
                </thead>
                <tbody>
                {% if games_list %} {% for game in games_list %}
                    <tr>
                        <td><img src={{ game.logo }} alt = "{{ game.name }}" height="75" width="75"></td>
                        <td>{{ game.name }}</td>
                        <td>{{ game.shortdesc }}</td>
                        <td>{{ game.game_category }}</td>
                        <td>{{ game.cost }}</td>
                        <td><a href="#" class="addtocarrt" onclick="AddToCart({{ game.id }})">Add to Cart</a></td>
                    </tr>
                {% endfor %} {% else %}
                    <tr>
                        <td class="text-center" colspan="4"> No records to display</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            {% if games_list.has_other_pages %}
                <ul class="pagination">
                    {% if users.has_previous %}
                        <li>
                            <a href="?concept={{ concept }}&param={{ param }}&page={{ games_list.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %} {% for i in games_list.paginator.page_range %} {% if games_list.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li><a href="?concept={{ concept }}&param={{ param }}&page={{ i }}">{{ i }}</a></li>
                {% endif %} {% endfor %} {% if games_list.has_next %}
                    <li>
                        <a href="?concept={{ concept }}&param={{ param }}&page={{ games_list.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div id="modalInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="form-signin" id="detailInfo">
                        <h3 class="form-signin-heading" id="modalMessage">Title</h3>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function AddToCart(gameID) {
            console.log("Cart Game ID : " + gameID);
            $.ajax({
                method: 'POST',
                url: "{% url 'addtocart' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token  }}",
                    game: gameID,
                    action: 'add'
                },
                success: function (data) {
                    var $modalinfo = $("#modalInfo");
                    if (data.error) {
                        $('#modalMessage').text("There was an error adding game to the cart. Please try again later!");
                        $modalinfo.removeClass('done info');
                        $modalinfo.addClass('error');
                        $modalinfo.modal();
                    } else {
                        $('#modalMessage').text("Game added to  cart");
                        $modalinfo.removeClass('info error');
                        $modalinfo.addClass('done');
                        $modalinfo.modal();
                    }
                },
                error: function (data) {
                    var $modalinfo = $("#modalInfo");
                    if (data.responseJSON && data.responseJSON.error) {
                        $('#modalMessage').text(data.responseJSON.error);
                        $modalinfo.removeClass('done error');
                        $modalinfo.addClass('info');
                        $modalinfo.modal();
                    } else if (data.status == 400) {
                        $('#modalMessage').text("There was an error adding game to the cart. Please try again later!");
                        $modalinfo.removeClass('done error');
                        $modalinfo.addClass('info');
                        $modalinfo.modal();
                    } else if (data.status == 402) {
                        $('#modalMessage').text("Game is already owned by you.");
                        $modalinfo.removeClass('done error');
                        $modalinfo.addClass('info');
                        $modalinfo.modal();
                    } else if (data.status == 403) {
                        $('#modalMessage').text("Game is already present in the cart.");
                        $modalinfo.removeClass('done error');
                        $modalinfo.addClass('info');
                        $modalinfo.modal();
                    } else {
                        $('#modalMessage').text("There was an error adding game to the cart. Please try again later!");
                        $modalinfo.removeClass('done error');
                        $modalinfo.addClass('info');
                        $modalinfo.modal();

                    }
                }
            });
        }
    </script>

{% endblock %}
