{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio-item.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <style type="text/css">
        .modal-backdrop {
            z-index: 0;
        !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST" action="#" class="form-signin">
            <h1 class="form-signin-heading" id="local-title">Modify game information</h1>
            {% csrf_token %}
            <table class="spaced_table">
                {% bootstrap_form form %}
                <tr>
                    <td>
                        <input type="submit" class="btn btn-lg btn-danger btn-block" name="action"
                               value="Delete">
                    </td>
                    <td>&nbsp;&nbsp;</td>
                    <td>
                        <input type="submit" class="btn btn-lg btn-success btn-block" name="action"
                               value="Update">
                    </td>
                </tr>
            </table>
        </form>
    </div>

{% endblock %}