{% extends "dashboard.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio-item.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <style type="text/css">
        .modal-backdrop {
            z-index: 0;
        !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">


    </div>

{% endblock %}