{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% block title %}Online Game Store{% endblock %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'gamestoreui/game-upload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gamestoreui/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gamestoreui/portfolio-item.css' %}">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><b>OnlineGameStore.com</b></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="navbar-brand">About us</a></li>
                    <li><a href="#" class="navbar-brand">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profile/update_profile/" class="navbar-brand">Update Profile</a></li>
                    <li><a href="/profile/change_password/" class="navbar-brand">Change Password</a></li>
                    <li><a href="/profile/logout/" class="navbar-brand">Sign Out</a></li>
                </ul>
            </div>

        </div>
    </nav>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><b>Please share the game info</b>
                </h1>
                <div class="row">
                    <div class="col-md-8">
                        <form id="upload_form" class="form" method="post" role="form"
                              action="/profile/upload_game/">
                            {% csrf_token %}
                            {% bootstrap_form upload_form %}
                            <input type="submit" class="btn btn-success" value="Add to Store">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
