<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developer</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><b>OnlineGameStore.com</b></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#" class="navbar-brand">About us</a></li>
                <li><a href="#" class="navbar-brand">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile/update_profile/" class="navbar-brand">Update Profile</a></li>
                <li><a href="/profile/change_password/" class="navbar-brand">Change Password</a></li>
                <li><a href="/profile/logout/" class="navbar-brand">Sign Out</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive" src="http://placehold.it/650x400" alt="">
            <form method="GET" action="/profile/upload_game/" class="form-signin">
                <input type="submit" class="btn btn-link" value="Add a Game">
            </form>
        </div>
        <div class="col-md-4">
            <h3>Game Description</h3>
            <p>Please note that in order to get max points, the solution needs to be well done </p>
        </div>
    </div>
</div>
</body>
</html>