{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'gamestoreui/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gamestoreui/portfolio-item.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gamestoreui/app-styles.css' %}">
    <script type="text/javascript" src="{% static 'gamestoreui/js/login-script.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="form">

        <div id="login">
            <h1>Welcome Back!</h1>

            <form action="/profile/login/" method="POST">
                {% csrf_token %}
                <div class="field-wrap">
                    <label>
                        User Name<span class="req">*</span>
                    </label>
                    <input type="text" required autocomplete="off" name="username"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input type="password" required autocomplete="off" name="password"/>
                </div>

                <p class="forgot"><a href="#">Forgot Password?</a></p><br>
                <p class="forgot"><a href="/profile/register_user/">Don't have an account? No worries, Please Click here
                    to Create an Account with us.</a></p>
                <button class="button button-block"/>
                Log In</button>

            </form>
            <br>
            <button class="button button-block"/>
            Google+</button>

        </div>

    </div>

    </div>


{% endblock %}
