{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load cloudinary %}

{% comment %}
    This page displays the user contents based on the user type flag ( D - Developer, P - Player).
{% endcomment %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio-item.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <style type="text/css">
        .modal-backdrop {
            z-index: 0 !important;
        }
    </style>
{% endblock %}
{% block content %}
    {% include "menu.html" %}
    <div class="container">
        {% if user_type == "D" %}
            {% include "users/developer.html" %}
        {% else %}
            {% include "users/player_home.html" %}
        {% endif %}
    </div>
{% endblock %}
