{% load bootstrap3 %}

{% comment %}
    This page displays the list of games uploaded by the developer and a modal pop up to add a game to inventory.
{% endcomment %}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th data-field="logo">Logo</th>
            <th data-field="name">Name</th>
            <th data-field="category">Category</th>
            <th data-field="description">Description</th>
            <th data-field="cost">Cost</th>
        </tr>
        </thead>
        <tbody>
        {% if games_list %}
            {% for game in games_list %}
                <tr>
                    <td><img src={{ game.logo }} height="75" width="75" alt="Not available"></td>
                    <td><a href="{% url 'edit_game' game.id %}">{{ game.name }}</a></td>
                    <td>{{ game.game_category }}</td>
                    <td>{{ game.description }}</td>
                    <td>{{ game.cost }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="text-center">
                <td colspan="4"> No records to display</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    {% if games_list.has_other_pages %}
        <ul class="pagination">
            {% if users.has_previous %}
                <li><a href="?concept={{ concept }}&param={{ param }}&page={{ games_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %} {% for i in games_list.paginator.page_range %} {% if games_list.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
            </li>
        {% else %}
            <li><a href="?concept={{ concept }}&param={{ param }}&page={{ i }}">{{ i }}</a></li>
        {% endif %} {% endfor %} {% if games_list.has_next %}
            <li><a href="?concept={{ concept }}&param={{ param }}&page={{ games_list.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
    {% endif %}
    <button class="btn btn-lg btn-success btn-block" data-toggle="modal" data-target="#modalGame">Add a Game to
        Inventory
    </button>
</div>

<div id="modalGame" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">x</span></button>
                <h3>Add a Game to Inventory</h3>
            </div>
            <div class="modal-body">
                <form method="POST" action="/profile/upload_game/" class="form-signin">
                    {% csrf_token %}
                    <table class="spaced_table modal_table">
                        {% bootstrap_form upload_form %}
                    </table>
                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Add">
                </form>
            </div>
        </div>
    </div>
</div>
