{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% comment %}
    This is the allows the user to reset their password. In addition to that, if the logged in user is a developer, He
    would be able to Generate secret keys for the REST service.
{% endcomment %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio-item.css' %}">
    <style type="text/css">
        .modal-backdrop {
            z-index: 0;
        !important;
        }

        body {
            padding-left: 20%;
            background: #c1bdba;
            font-family: 'Titillium Web', sans-serif;
            align-items: center;
        }

        .developer {
            height: 5%;
            width: 7%;
            align-items: right;
        }

        .control-label {
            color: rgba(8, 8, 8, 0.71);
        }

        h1 {
            text-align: center;
            color: #080808;
            font-weight: 300;
            margin: 0 0 40px;
        }

        .key-gen {

        }
    </style>

{% endblock %}
{% block content %}
    <h1 align="right">Reset your Password</h1>
    <div class="container">
        <form id="manage_profile_form" method="POST" action="/profile/manage_profile/"
              enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {% bootstrap_form password_reset_form %}
                <tr>
                    <td colspan="4">
                        <br/><br/>
                        <input type="submit" class="btn btn-success" value="Update Password">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    {% if user.is_authenticated and user_type == "D" %}
        <br><br><br>
        <h1 align="right">Generate Developer Key</h1>
        <p>The below API key is a unique value that is assigned to a username. This secret key is one that you can
            distribute to others, to allow them to get some subset of information about you from the
            OnlineGameStore.</p>
        <div class="key-gen">
            <h4><b>Developer Key :<span> {{ current_user.apikey }}</span></b></h4>
            <br>
            <div class="developer">
                <form method="POST" action="/profile/generate_developer_key/" class="form-signin">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="generate">
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}