{% load bootstrap3 %}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th data-field="logo">Logo</th>
            <th data-field="name">Name</th>
            <th data-field="category">Category</th>
            <th data-field="description">Description</th>
        </tr>
        </thead>
        <tbody>
        {% if games_list %}
            {% for purgame in games_list %}
                <tr>
                    <td><img src={{ purgame.game_details.logo }} height="75" width="75" alt="Not available"></td>
                    <td><a href="{% url 'play_game' purgame.game_details.id %}">{{ purgame.game_details.name }} </a>
                    </td>
                    <td>{{ purgame.game_details.game_category }}</td>
                    <td>{{ purgame.shortdesc }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="text-center">
                <td colspan="4"> No Records Found !!!!</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    {% if games_list.has_other_pages %}
        <ul class="pagination">
            {% if users.has_previous %}
                <li><a href="?concept={{ concept }}&param={{ param }}&page={{ games_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %} {% for i in games_list.paginator.page_range %} {% if games_list.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
            </li>
        {% else %}
            <li><a href="?concept={{ concept }}&param={{ param }}&page={{ i }}">{{ i }}</a></li>
        {% endif %} {% endfor %} {% if games_list.has_next %}
            <li><a href="?concept={{ concept }}&param={{ param }}&page={{ games_list.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
    {% endif %}
</div>
