{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% comment %}
    This page displays an interactive form to the user with some mandatory information which needs to be entered by the
    user to join in onlinegamestore web.
{% endcomment %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio-item.css' %}">
    <style type="text/css">
        .modal-backdrop {
            z-index: 0;
        !important;
        }

        body {
            padding-left: 20%;
            background: #c1bdba;
            font-family: 'Titillium Web', sans-serif;
            align-items: center;
        }
    </style>

{% endblock %}
{% block content %}
    <h1 class="text-center">Create an account</h1>
    <div class="container">

        <form method="POST" action="/profile/register/">
            {% csrf_token %}
            <table>
                {% bootstrap_form form %}
                <tr>
                    <td colspan="4">
                        <input type="submit" class="btn btn-success" name="action"
                               value="Register">
                    </td>
                </tr>
            </table>
        </form>
        <br/><br/><br/>
        <p>Please have a look at our&nbsp;<a href="/profile/terms/">Terms and Conditions</a>.</p>
    </div>

{% endblock %}