{% extends "users/dashboard.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio-item.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/excanvas.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"
          crossorigin="anonymous">
    <style>
        .stats {
            height: 100%;
            width: 100%;
        }

        .reset {
            height: 20%;
            width: 20%;
        }

        .main {
        }

        #content {
            float: left;
            width: 70%;
        }

        #aside {
            float: right;
            width: 20%;
            align-items: left;
        }

        .canvasjs-chart-credit {
            display: none;
        }

        #footer {
            float: bottom;
            text-align: right;
        }

    </style>



    <script>
        $(document).ready(function () {
            $(function () {
                $("#from-date").datepicker({maxDate: new Date()});
                $("#to-date").datepicker({maxDate: new Date()});
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(function () {
                $("#update-button").click(function () {
                    if ($("#from-date").val() != "" && $("#to-date").val() != "") {
                        piechart.options.data[0].dataPoints = []
                        $('#from-date').css('border-color', '');
                        $('#to-date').css('border-color', '');

                        $.ajax({
                            data: {
                                type: 'pie-range',
                                from_date: $("#from-date").val(),
                                to_date: $("#to-date").val()
                            },
                            url: "/profile/statistics/", success: function (result) {

                                $.each(result, function (k, v) {
                                    piechart.options.data[0].dataPoints.push({
                                        y: v[1],
                                        legendText: v[0],
                                        label: v[0]
                                    });
                                });
                                piechart.render();
                            }
                        });
                    }
                    else {
                        if ($("#from-date").val() == "") {
                            $('#from-date').css('border-color', 'red');
                        } else if ($("#to-date").val() == "") {
                            $('#to-date').css('border-color', 'red');
                        } else {
                            $('#from-date').css('border-color', 'red');
                            $('#to-date').css('border-color', 'red');
                        }
                    }
                })

                var piechart = new CanvasJS.Chart("piechart",
                    {
                        backgroundColor: "#c1bdba",
                        animationEnabled: true,
                        title: {
                            text: "Downloads by Game",
                            fontSize: 30
                        },
                        legend: {
                            verticalAlign: "center",
                            horizontalAlign: "left",
                            fontSize: 20,
                            fontFamily: "Helvetica"
                        },
                        theme: "theme7",
                        data: [
                            {
                                type: "pie",
                                indexLabelFontFamily: "Garamond",
                                indexLabelFontSize: 20,
                                indexLabel: "{label} - {y}",
                                startAngle: -20,
                                showInLegend: true,
                                toolTipContent: "{legendText} - {y}",
                                dataPoints: []
                            }
                        ]
                    });

                $.ajax({
                    data: {
                        type: 'pie-overall'
                    },
                    url: "/profile/statistics/", success: function (result) {
                        $.each(result, function (k, v) {
                            piechart.options.data[0].dataPoints.push({
                                y: v[1],
                                legendText: v[0],
                                label: v[0]
                            });
                        });
                        piechart.render();
                    },
                    statusCode: {
                        400: function () {
                            alert("No Records Found");
                        }
                    }
                });

            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                var linechart = new CanvasJS.Chart("chartContainer",
                    {

                        title: {
                            text: "Downloads by Time",
                            fontSize: 30
                        },
                        axisY: {
                            interval: 1,
                        },
                        backgroundColor: "#c1bdba",
                        animationEnabled: true,
                        axisX: {
                            gridColor: "Silver",
                            tickColor: "silver",
                            valueFormatString: "DD/MMM"

                        },
                        toolTip: {
                            shared: true
                        },
                        theme: "theme7",
                        axisY: {
                            gridColor: "Silver",
                            tickColor: "silver"
                        },
                        legend: {
                            verticalAlign: "center",
                            horizontalAlign: "right"
                        },
                        data: [
                            {
                                type: "line",
                                showInLegend: true,
                                lineThickness: 2,
                                name: "Downloads",
                                markerType: "square",
                                color: "#F08080",
                                dataPoints: []
                            }

                        ],
                        legend: {
                            cursor: "pointer",
                            itemclick: function (e) {
                                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                                    e.dataSeries.visible = false;
                                }
                                else {
                                    e.dataSeries.visible = true;
                                }
                                linechart.render();
                            }
                        }
                    });

                $.ajax({
                    data: {
                        type: 'line-overall'
                    },
                    url: "/profile/statistics/", success: function (result) {
                        $.each(result.labels, function (index, value) {
                            linechart.options.data[0].dataPoints.push({
                                x: new Date(result.labels[index]),
                                y: result.dataset[index]
                            })
                        });
                        linechart.render();
                    }
                });

                linechart.render();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="main">
        <div id="aside">
            <br><br><br>
            <h3>Time Range</h3>
            <div class="stats">
                <div class="input-group input-append date datepicker" id="from-selector">
                    <input type="text" id="from-date" class="form-control" name="from-date" placeholder="From Date..."
                           required/>
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <br>
                <div class="input-group input-append date datepicker" id="to-selector">
                    <input type="text" id="to-date" class="form-control" name="to-date" placeholder="To Date..."
                           required/>
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <br>
                <button id="update-button" class="btn-lg btn-primary form-control">Fetch data</button>
            </div>
        </div>
        <div id="content">
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            <br> <br>
            <div id="piechart" style="height: 100%; width: 100%">
            </div>
        </div>

{% endblock %}