body {
    font-size: 13px;
    font-family: arial, helvetica, sans-serif;
    max-width: 750px;
}

.codesample {
    max-height: 150px;
    overflow: auto;
    margin-left: 20px;
    border: solid silver 1px;
}
iframe {
    width: 100%;
    height: 300px;
    background-color: #fff;
}
hr.divider {
	border-top: 3px double #8c8b8b;
}
